@font-face {
    font-family: 'Gogh';
    src: url('NestorsDomain/Fonts/Gogh-ExtraBold') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Replay';
    src: url('NestorsDomain/Fonts/reply') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-weight: normal;
    font-size: 300%;
    font-family: Replay, serif;
	color: #fff;
}
p {
	text-align: left;
    font-size: 80%;
    font-family: Gogh, sans-serif;
    margin-bottom: 20px;
}

body {
	background-color: #282828;
    background-image: url("Background.png");
	color: #fff;

}

h2 {
	background-image: url("Textback.gif");
	background-repeat: no-repeat;
    font-weight: normal;
    font-size: 200%;
    font-family: Replay, serif;
	color: #fff;

}

section, form {
  background-color: rgba(122, 88, 132, 0.35);
  padding: 20px;
  font-size: 110%;
  font-family: Gogh, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
}

h3 {
    font-size: 100%;
    margin-bottom: 10px;
    font-family: Replay, serif;
	color: #fff;
}

h4 {
    font-size: 150%;
    font-family: Replay, serif;
    color: #74ce3d;

}


a
{
color: #74ce3d
}

img {
    border: 0;
}

header {
    display: block;
    width: 600px;
    padding: 0;
    margin-bottom: 0;
    background-color: #fff;
}

nav {
   color: #fff;
}

.post-title{
   width: 600px
}

.post-content{
  width: 600px;
  height: 250px;
}


.image-container {
  display: flex;
  justify-content: center;
  gap: 240px;
}

.image-container {
  position: relative;
}

.image-container img {
  display: inline-block;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-container h1 {
  margin: 0;
}

.header-container form {
  display: flex;
  align-items: center;
}

.header-container form label {
  margin-right: 5px;
}

.header-container form input {
  margin-right: 5px;
}

.tutorial-section {
  display: flex;
  align-items: center;
}

.tutorial-text {
  margin-left: 20px;
}

.background-section {
  display: flex;
  align-items: center;
}

.background-text {
  margin-right: 20px;
}


.post {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.meta {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 15px;
}

.posted {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.posted-title {
font-size: 150%
}

.post-sample {
  margin-top: 5px;
}

.forum-create{
  align-items: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  left: 0;
  background-color: rgba(122, 88, 132, 0.35);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
